:root {
  --background: #ffffff;
  --foreground: #191a19;
  --card: #ffffff;
  --card-foreground: #191a19;
  --popover: #ffffff;
  --popover-foreground: #191a19;
  --primary: #ff6467;
  --primary-foreground: #fafafa;
  --secondary: #e7000b;
  --secondary-foreground: #fafafa;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #fef2f2;
  --accent-foreground: #191a19;
  --destructive: #001ccf;
  --destructive-foreground: #ffffff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #c5ff92;
  --chart-2: #81f63a;
  --chart-3: #63ef25;
  --chart-4: #4eda1a;
  --chart-5: #3fad1f;
  --sidebar: #fafafa;
  --sidebar-foreground: #191a19;
  --sidebar-primary: #191a19;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #191a19;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
}

.dark {
  --background: #191a19;
  --foreground: #fafafa;
  --card: #191a19;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #ff6467;
  --primary-foreground: #fafafa;
  --secondary: #fb2c36;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #fef2f2;
  --accent-foreground: #79716b;
  --destructive: #6568ff;
  --destructive-foreground: #fafafa;
  --border: #282828;
  --input: #343434;
  --ring: #737373;
  --chart-1: #c5ff92;
  --chart-2: #81f63a;
  --chart-3: #63ef25;
  --chart-4: #4eda1a;
  --chart-5: #3fad1f;
  --sidebar: #191a19;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #47e614;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.bg-pink-25 {
  background-color: #fef7f7;
}

.text-pink-25 {
  color: #fef7f7;
}

.border-pink-25 {
  border-color: #fef7f7;
}

.bg-background {
  background-color: var(--background);
}

.text-foreground {
  color: var(--foreground);
}

.bg-card {
  background-color: var(--card);
}

.text-card-foreground {
  color: var(--card-foreground);
}

.bg-popover {
  background-color: var(--popover);
}

.text-popover-foreground {
  color: var(--popover-foreground);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary-foreground {
  color: var(--primary-foreground);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary-foreground {
  color: var(--secondary-foreground);
}

.bg-muted {
  background-color: var(--muted);
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent-foreground {
  color: var(--accent-foreground);
}

.bg-destructive {
  background-color: var(--destructive);
}

.text-destructive-foreground {
  color: var(--destructive-foreground);
}

.ring-destructive {
  --tw-ring-color: var(--destructive);
}

.border-border {
  border-color: var(--border);
}

.border-input {
  border-color: var(--input);
}

.ring-ring {
  --tw-ring-color: var(--ring);
}

.ring-offset-background {
  --tw-ring-offset-color: var(--background);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
