:root {
  --font-sans: ABeeZee, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
}

.dark {
  --font-sans: ABeeZee, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

@layer base {
  body {
    @apply font-sans;
  }
}
