:root {
  --spacing-base: 0.25rem;
}

.dark {
  --spacing-base: 0.25rem;
}

@theme inline {
  --spacing-xs: calc(var(--spacing-base) / 2);
  --spacing-sm: var(--spacing-base);
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 4);
  --spacing-xl: calc(var(--spacing-base) * 8);

  --gap-xs: calc(var(--spacing-base) / 2);
  --gap-sm: var(--spacing-base);
  --gap-md: calc(var(--spacing-base) * 2);
  --gap-lg: calc(var(--spacing-base) * 4);
  --gap-xl: calc(var(--spacing-base) * 8);
}
