AWS_REGION=""
COGNITO_CLIENT_ID=""
COGNITO_CLIENT_SECRET=""
COGNITO_DOMAIN=""
COGNITO_USERPOOL_ID=""
CONTACT_TO_EMAIL=""
FROM_EMAIL=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_SENTRY_DSN=""
RESEND_API_KEY=""
S3_BUCKET_NAME=""